params {
    auroc_thr = 0.8
    avg_col = "genes"
    bagel_dir = "results/bagel"
    bagel_gene_col = "genes" // can be column name or position (python starts from 0)
    bagel_n_cross_validations = 10
    bagel_run = false
    bagel_sgrna_col = "sgRNA" // can be column name or position (python starts from 0)
    bagel_val_col = 8 // can be column name or position (python starts from 0)
    bf_gene_all = "bf_gene_all.tsv"
    drop_col_bf = []
    drop_col_mageck = []
    count_norm_dir = "results/count_norm"
    crispr_lib = "KY_Library_v1.0"
    default_n_cols_sgrna = 2
    drop_col_lfc = ["CHR", "startp", "endp", "avgFC", "BP", "correction", "guideIdx"]
    fdr = 0.05
    gene_class = "gene_classification.tsv"
    input_batches = "data/raw_sgrnas_counts_test/*"
    join_col_bf = ["GENE"]
    join_col_lfc = ["sgRNA", "genes"]
    join_col_mageck = ["Gene"]
    lfc_corr_dir = "results/lfc_corr"
    lfc_corr_qc_dir = "results/lfc_corr_qc"
    log_dir = "log"
    lfc_gene_qc = "lfc_gene_all.tsv"
    lfc_sgrna_all = "lfc_sgrna_all.tsv"
    mageck_col = "fdr"
    mageck_dir = "results/mageck"
    mageck_gene_all = "mageck_gene_all.tsv"
    mageck_run = false
    min_reads = 30
    min_treatments = 2
    n_controls = 1
    neg_ctrl_genes = "bagel/NEGv1.txt"
    outdir = "results/"
    pos_ctrl_genes = "bagel/CEGv2.txt"
    scaling_method = "ScalingByTotalReads"
}

process {
    withName: 'RUN_MAGECK' {
        maxForks = 1
    }
}