params {
    avg_col = "genes"
    count_norm_dir = "results/count_norm"
    crispr_lib = "KY_Library_v1.0"
    default_n_cols_sgrna = 2
    drop_cols = ["CHR", "startp", "endp", "avgFC", "BP", "correction", "guideIdx"]
    input_batches = "data/raw_sgrnas_counts_test/*"
    join_cols = ["sgRNA", "genes"]
    lfc_corr_dir = "results/lfc_corr"
    lfc_gene_all = "lfc_gene_all.tsv"
    lfc_sgrna_all = "lfc_sgrna_all.tsv"
    min_reads = 30
    min_treatments = 2
    n_controls = 1
    outdir = "results/"
    scaling_method = "ScalingByTotalReads"
}