params {
    auroc_thr = 0.8
    avg_col = "genes"
    count_norm_dir = "results/count_norm"
    crispr_lib = "KY_Library_v1.0"
    default_n_cols_sgrna = 2
    drop_cols = ["CHR", "startp", "endp", "avgFC", "BP", "correction", "guideIdx"]
    fdr = 0.05
    input_batches = "data/raw_sgrnas_counts_test/*"
    join_cols = ["sgRNA", "genes"]
    lfc_corr_dir = "results/lfc_corr"
    lfc_gene_qc = "lfc_gene_all_qc.tsv"
    lfc_sgrna_all = "lfc_sgrna_all.tsv"
    lfc_sgrna_qc = "lfc_sgrna_all_qc.tsv"
    min_reads = 30
    min_treatments = 2
    n_controls = 1
    neg_ctrl_genes = "bagel/NEGv1.txt"
    outdir = "results/"
    pos_ctrl_genes = "bagel/CEGv2.txt"
    scaling_method = "ScalingByTotalReads"
}